.dashboard {
    padding: 2em;
}

.group-name {
    margin-top: 0;
}

.playlist-privacy {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: small;
}

.playlist-data-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.user-name {
    padding: 0 0.3em;
}

.dot {
    color: rgba(105, 104, 104, 0.8);
}

.group-size {
    padding: 0 0.3em;
    color: rgba(105, 104, 104, 0.8);
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.website-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.website-info:hover {
    color: rgba(139, 137, 137, 1);
}

.add-website-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-website {
    border: none;
    outline: none;
}

.line {
    border: none;
    border-bottom: 1px solid;
    padding-top: 1em;
}

.link {
    width: 50%;
}

.columns {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.headers {
    display: flex;
    flex-direction: row;
}

.headers h3 {
    margin-bottom: 0;
}

.url {
    width: 50%;
    font-weight: 500;
    font-size: medium;
}

.other-headers {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.other-headers h3 {
    font-weight: 500;
    font-size: medium;
}